<div class="container-fluid">
    <div class="row ">
        <div class="col-xl-12">
            <div class="jumbotron" style="background-image: url(https://images.pexels.com/photos/264636/pexels-photo-264636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-xl-12">
        <app-product></app-product>
    </div>
        
    </div>
    <div class="row">
        <div class="col-xl-12">
            <app-footer></app-footer>
        </div>
    </div>
</div>